@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply bg-gray-100;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rbc-today{
  background: white !important;
}

.rbc-event-content{
  padding: .1em !important;
}
.rbc-button-lin,.rbc-show-more{
  color: black !important;
}

.rbc-toolbar-label{
  font-weight: bold !important;
  font-size: 1.5em !important
}

.rbc-toolbar{
  flex-direction: column !important;
}

@media (min-width: 768px) {
  .rbc-toolbar {
    flex-direction: row !important;
  }
}

.Toastify__progress-bar, .Toastify__progress-bar--animated, .Toastify__progress-bar-theme--light, .Toastify__progress-bar--default{
  background: rgb(165,161,127) !important;
}